<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kazakago.cleanarchitecture">

    <!-- To allow spoon to take a screenshot. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- To allow stetho to access realm. -->
    <application
        android:name=".DebugCleanApplication"
        tools:replace="android:name"/>

</manifest>